# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# TypeScript
# =========================
*.tsbuildinfo
dist/
build/

# 예외 규칙 
!02-types/dist/
!02-types/dist/**

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# OS
# =========================
Thumbs.db
